@import url(font.css);
::-moz-selection {color: #fff;background: #000000;    -webkit-text-fill-color: white;}
::selection {color: #fff;background: #000000;    -webkit-text-fill-color: white; }
:focus {outline: none;}
* {margin: 0;padding: 0;}
html {overflow-x: hidden; scroll-behavior: smooth;}
html,body,button,input,optgroup,a,span,.form,div,ul,li,p,strong,em,div,h1,h2,h3,h4,h5,h6,section,main,select,textarea {}
a{transition:all .3s;text-decoration: none;}
/*    start code here   */

body{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.5;
}
.wrapper{}
.wrapper>.container{}
.wrapper>.container>header{
    position: relative;
}










/* input select Package */
/*the container must be positioned relative:*/
.form .custom-select {
  position: relative;
  font-family: Arial;
  width: 100%;
  height: 100%;
}

.form .custom-select select {
  display: none; /*hide original SELECT element:*/
}

.form .select-selected {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
/* identical to box height */
  color: #494949;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background: white;
  border-radius: 11px;
}

/*style the arrow inside the select element:*/
.form .select-selected:after {
  transition: all .3s;
  position: absolute;
  content: "";
  right: 15px;
  width: 18px;
  height: 18px;
  background-image: url('../images/Polygon.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/*point the arrow upwards when the select box is open (active):*/
.form .select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  transform: rotate(180deg);
}

/*style the items (options), including the selected item:*/
.form .select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  /* border: 1px solid transparent; */
  /* border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent; */
  cursor: pointer;
  user-select: none;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
/* identical to box height */
  color: #282828;
}

/*style items (options):*/
.form .select-items {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border: 1px solid #000000;
  border-radius: 12px;
  margin-top: 10px;
  transition: all .3s;
}

.form .select-items{
background-color:white;
}

/*hide the items when the select box is closed:*/
.form .select-hide {
  /* display: none; */
  top: -10px;
  z-index: -1;
  opacity: 0;
}

.form .select-items div:hover, .same-as-selected {
  /* background-color: rgba(0, 0, 0, 0.1); */
}

.form{}
.form>div{
    position: relative;
    display: flex;
    flex-direction: column;
    /* cursor: pointer; */
    margin: 40px 0;
}
.bottom-line{
    background-color: #BDBDBD;
    width: 100%;
    height: 1.4px;
    position: relative;
}
.bottom-line .fill-line{
    transition: all .3s;
    background-color: #222222;
    position: relative;
    height: 100%;
    width: 0;
}
.form input{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
/* identical to box height */
    color: #383838;
    transition: all .3s;
    height: 0;
}
.form .FullName{}
.form .FullName .bottom-line{}
.form .FullName .bottom-line .fill-line{}
.form .FullName label{
    
}
.form label{
    transition: all .3s;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    
/* identical to box height */
    color: #4b4b4b6b;
    font-size: 17px;
    line-height: 24px;
    }
.form .FullName input{}
.form .MailAddress{}
.form .MailAddress .bottom-line .fill-line{}
.form .MailAddress label{}
.form .MailAddress input{}
.form .budget-input{}
.form .budget-input .bottom-line .fill-line{}
.form .budget-input label{}

  .form .phone-input{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
  .form .phone-input .bottom-line .fill-line{}
  .form .phone-input>div{width: 75%;}
.form .phone-input>div>div{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.form .phone-input>div.bottom-line{
    position: absolute;
    bottom: 0;
}
  .form .phone-input>div label{}
  .form .phone-input>div input{}
  .form .active{}
  .form .active label{
    font-size: 12px;
    display: flex;
    flex-direction: column;
}
  .form .active input{height:30px;}
  .form .active .fill-line{
    width: 100%;
}