@import url(font.css);
::-moz-selection {color: #fff;background: #000000;    -webkit-text-fill-color: white;}
::selection {color: #fff;background: #000000;    -webkit-text-fill-color: white; }
:focus {outline: none;}
* {margin: 0;padding: 0;}
html {overflow-x: hidden; scroll-behavior: smooth;}
html,body,button,input,optgroup,a,span,.form,div,ul,li,p,strong,em,div,h1,h2,h3,h4,h5,h6,section,main,select,textarea {}
a{transition:all .3s;text-decoration: none;}
/*    start code here   */

body{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.5;
}
.wrapper{}
.wrapper>.container{}
.wrapper>.container>header{
    position: relative;
}










/* input select Package */
/*the container must be positioned relative:*/
.form .custom-select {
  position: relative;
  font-family: Arial;
  width: 100%;
  height: 100%;
}

.form .custom-select select {
  display: none; /*hide original SELECT element:*/
}

.form .select-selected {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
/* identical to box height */
  color: #494949;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background: white;
  border-radius: 11px;
}

/*style the arrow inside the select element:*/
.form .select-selected:after {
  transition: all .3s;
  position: absolute;
  content: "";
  right: 15px;
  width: 18px;
  height: 18px;
  background-image: url('../images/Polygon.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/*point the arrow upwards when the select box is open (active):*/
.form .select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  transform: rotate(180deg);
}

/*style the items (options), including the selected item:*/
.form .select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  /* border: 1px solid transparent; */
  /* border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent; */
  cursor: pointer;
  user-select: none;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
/* identical to box height */
  color: #282828;
}

/*style items (options):*/
.form .select-items {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border: 1px solid #000000;
  border-radius: 12px;
  margin-top: 10px;
  transition: all .3s;
}

.form .select-items{
background-color:white;
}

/*hide the items when the select box is closed:*/
.form .select-hide {
  /* display: none; */
  top: -10px;
  z-index: -1;
  opacity: 0;
}

.form .select-items div:hover, .same-as-selected {
  /* background-color: rgba(0, 0, 0, 0.1); */
}

.form{}
.form>div{
    position: relative;
    display: flex;
    flex-direction: column;
    /* cursor: pointer; */
    margin: 40px 0;
}
.bottom-line{
    background-color: #BDBDBD;
    width: 100%;
    height: 1.4px;
    position: relative;
}
.bottom-line .fill-line{
    transition: all .3s;
    background-color: #222222;
    position: relative;
    height: 100%;
    width: 0;
}
.form input{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
/* identical to box height */
    color: #383838;
    transition: all .3s;
    height: 0;
}
.form .FullName{}
.form .FullName .bottom-line{}
.form .FullName .bottom-line .fill-line{}
.form .FullName label{
    
}
.form label{
    transition: all .3s;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    
/* identical to box height */
    color: #4b4b4b6b;
    font-size: 17px;
    line-height: 24px;
    }
.form .FullName input{}
.form .MailAddress{}
.form .MailAddress .bottom-line .fill-line{}
.form .MailAddress label{}
.form .MailAddress input{}
.form .website-input{}
.form .website-input .bottom-line .fill-line{}
.form .website-input label{}

  .form .phone-input{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
  .form .phone-input .bottom-line .fill-line{}
  .form .phone-input>div{width: 75%;}
.form .phone-input>div>div{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.form .phone-input>div.bottom-line{
    position: absolute;
    bottom: 0;
}
  .form .phone-input>div label{}
  .form .phone-input>div input{}
  .form .active{}
  .form .active label{
    font-size: 12px;
    display: flex;
    flex-direction: column;
}
  .form .active input{height:30px;}
  .form .active .fill-line{
    width: 100%;
}

 





/* center form */
.form-input.center[state="success"]{}
.form-input.center{position: relative; margin-top: 40px; }
  .form-input.center .top-label{transition: all .3s;top: -30px;position: absolute;}
  /* .form-input[state="email"] .top-label, .form-input[state="success"] .top-label{top: 0px;} */
  .form-input.center .top-label input{opacity: 0;}
  .form-input.center .top-label label{
    color: #E6E6E6;
    font-weight: 300;
    font-size: 12px;
    transition: all .3s;
    cursor: pointer;
}
  
  .form-input.center[state="email"] .top-label label[value="0"], .form-input.center[state="name"] .top-label label[value="1"], .form-input.center[state="phone"] .top-label label[value="2"], .form-input.center[state="website"] .top-label label[value="3"]{color: #FFF492;font-weight: 500;}
  .form-input.center .top-label label:hover{color: #FFF492;}
  .form-input.center form{
}
.form-input form{
  position: relative;
  /* overflow: hidden; */
  display: flex;
  justify-content: space-between;
  height: 60px;
}
  .form-input.center form .inputs{
    border: 1px solid #D6D6D6;
    border-radius: 12px;
    width: 67%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background: linear-gradient(90deg, #fefefe 0%, #ffffff 100%);
    z-index: 1;
}

/* .form-input.center[state='website'] form .inputs>div:not(.website-input){
	display:none;
	opacity: 0;
} */
.form-input.center form .inputs .Email-input{
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all .3s;
    top: 110%;
}
  .form-input.center form .inputs .Email-input input{
    background: linear-gradient(90deg, #fefefe 0%, #ffffff 100%);
    color: #f8706d;
}
.form-input.center form .inputs input{width: 100%;height: 100%;text-indent: 20px;}
.form-input.center form .inputs .Name-input{
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all .3s;
    top: 110%;
}
/* .wrapper .form-input form .inputs .Name-input::after{content:'Full Name';} */

.form-input.center form .inputs .phone-input{
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all .3s;
    top: 110%;
    display: flex;
    align-items: center;
}
.form-input.center form .inputs .successDiv{
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all .3s;
    left: -110%;
    display: flex;
    background: linear-gradient(90deg, #2D0E86 -3.62%, #95E9F1 113.22%);
    justify-content: center;
    align-items: center;
}

.form-input.center form .inputs .successDiv p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
/* identical to box height */
    color: #FFFFFF;
    text-align: center;
}
.form-input.center form .inputs .Email-input input::placeholder{color:#f8706d;}
  .form-input.center form .inputs .Name-input{}
  .form-input.center form .inputs .Name-input input{color: #f8706d;}
  .form-input.center form .inputs .Name-input input::placeholder{color: #f8706d;}
  .form-input.center form .inputs .phone-input{}
  .form-input.center form .inputs .phone-input input{color: #f8706d;}
  .form-input.center form .inputs .phone-input input::placeholder{color: #f8706d;}
  .form-input.center form .inputs .website-input{}
  .form-input.center form .inputs .website-input input{color: #f8706d;}
  .form-input.center form .inputs .website-input input::placeholder{color: #f8706d;}
  .form-input.center form .next_button{
    background: linear-gradient(90deg, #fefefe 0%, #ffffff 100%);
    color: #F34B66;
}
  .form-input.center form .next_button:hover{}

  .wrapper .form-input form .inputs .website-input{
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all .3s;
    top: 110%;
  }
  
    .form-input[state='email'] form .inputs .Email-input, .form-input[state='name'] form .inputs .Name-input, .form-input[state='phone'] form .inputs .phone-input, .form-input[state='website'] form .inputs .website-input{top:0;}
    .wrapper .form-input[state='success'] form .inputs .successDiv{left:0;opacity: 1;}
  
    .wrapper .form-input form .next_button{
      background: linear-gradient(90deg, #97ECF1 0%, #5552EB 100%);
      border-radius: 12px;
      border: none;
      font-weight: 500;
      font-size: 19px;
      line-height: 33px;
      color: #FFFFFF;
      display: flex;
      padding: 20px 0;
      width: 30%;
      justify-content: center;
      align-items: center;
      position: relative;
      height: 100%;
  }
  
  .wrapper .form-input[state='success'] form .next_button{
    display:none;
  }
  
  /* .wrapper .form-input form .inputs>div.active{top:0;} */
    .wrapper .form-input form .next_button:hover{}

.form-input.center form .inputs .phone-input input[type="radio"] {
	counter-increment: radios;
	appearance: none;
	display: none;
}

.form-input.center form .inputs .phone-input input[type="radio"]:checked {
	display: inline;
	--display: block;
}

.form-input.center form .inputs .phone-input input[type="radio"]:after {
	content: attr(title);
	display: inline;
	color: #f76e6d;
}

.form-input.center form .inputs .phone-input ul.list {
	counter-reset: labels;
}

.form-input.center form .inputs .phone-input label {
	width: 100%;
	display: flex;
	cursor: pointer;
	justify-content: space-between;
}

.form-input.center form .inputs .phone-input label span {
	--display: none;
	display: var(--display);
	width: 1rem;
	height: 1rem;
	border: 1px solid #727272;
	border-radius: 3px;
}

/* circle price */
.circle-range {
	position: relative;
	width: 20rem;
	height: 20rem;
	background-color: transparent;
	border: 1rem solid red;
	border-radius: 50%;
}

.circle-range .info {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: dodgerblue;
	border-radius: inherit;
	width: 5rem;
	height: 5rem;
	text-align: center;
	color: white;
	font-family: serif;
	font-size: initial;
	font-weight: bold;
	line-height: 5rem;
	user-select: none;
}

.circle-range .slider {
	position: absolute;
	width: 5%;
	height: 54%;
	left: 47.5%;
	top: 0;
	transform: rotate(0deg);
	transform-origin: center bottom;
}

.circle-range .slider::before {
	content: '';
	position: absolute;
	background-color: green;
	width: 2rem;
	height: 2rem;
	transform: translate(-25%, -25%);
	border-radius: 50%;
	cursor: pointer;
}